html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.inputRadio:checked + #labelRadio {
    background-color: black;
    color: white;
}

.inputRadio:checked + #labelRadio:hover {
  opacity: 0.5;
}